.rewards-container {
    padding: 20px;
    font-family: 'Arial', sans-serif;
  }
  
  .title {
    text-align: center;
    margin-bottom: 40px;
  }
  
  .rewards-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
  }
  
  .reward-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  }
  .create-reward-btn {
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .create-reward-btn:hover {
    background-color: #0056b3;
  }
  
  .reward-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .reward-info {
    padding: 15px;
  }
  
  .price {
    color: #007BFF;
    font-weight: bold;
  }
  
  .reward-details-modal {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    width: 80%;
    max-width: 500px;
  }
  
  .reward-details-modal h2 {
    margin-bottom: 10px;
    color: #333;
  }
  
  .reward-details-modal button {
    background: #0ea5e9;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .reward-details-modal button:hover {
    background: #0077b6;
  }